# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# terraform/
terraform/.terraform/
terraform/*.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
